.hidden-notice-for-screen-readers {
  position:absolute;
  left:-10000px;
  top:auto;
  width:10000px;
}

#list-of-questions {
  margin-top: 1em;
}

#list-of-questions ul {
  margin: 0;
}

.question {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height:1.2
}

#list-of-questions {
  background: white;
  padding: 1em;
  width: 20%;
  height: 100%;
  overflow: scroll;
  right: 0%;
  top: 0%;
  position: fixed;
  font-family: 'Gentium Basic', serif;
}

#introduction,
#faq-searchable-content {
  width: 75%;
}
