.hidden-notice-for-screen-readers {
  position:absolute;
  left:-10000px;
  top:auto;
  width:10000px;
}

#list-of-questions {
  margin-top: 1em;
  margin-right: 1em;
  padding: 1em;
  
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  
  background: white;
  width: 20%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  right: 0%;
  top: 0%;
  position: fixed;
  
  font-family: 'Gentium Basic', serif;
}

/* Make bottom-padding work even when a y-scrollbar is present */
#list-of-questions:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
}

#list-of-questions ul {
  margin: 0;
}

#list-of-questions a {
  color: #01256e;
}

.question {
  cursor: pointer;
}

body {
  background: #EEE3;
  font-family: 'Open Sans', sans-serif;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height:1.2
}

#introduction,
#faq-searchable-content {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  #list-of-questions {
    width: 75%;
    position: relative;
  }
}

.hide-without-javascript {
  display: none;
}

.hide-with-javascript {
  display: inherit;
}
